#header{
font-family: 'Inconsolata';
text-align: center;
font-size: 4em;
border: 3px solid black;
}

.x, .y {
  font-family: 'Inconsolata';
  text-align: center;
}

.line {
  display: inline-block;
  height: 100%;
  width: 14%;
}



.line4 {
  position: absolute;
  top: 25%;
}